body {
  background-color:#ffffff;
}
h1{color: #ff0000; 
  font-family: "Montserrat", sans-serif;}

h2{color:#213172;
font-family: "Montserrat", sans-serif;}

p{color:#966710;
font-family: "Roboto", sans-serif;}

.leadGraph{background-color: #000000;color: #ffffff}

.leadphoto {margin-right:20px;}

a {color: #999999; text-decoration: none;}
a:hover{color: #666666; text-decoration: underline;}

.headerBox{
background-color: #999999;
text-align: center;
padding: 20px;
}



.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}