

body{
	font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}



.headerbox{
	background-color: #ffffff;
	color: #000000;
	font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
   border-bottom: 1px solid black;
	
}

.picturebox {
	background-color: #ffffff;
	color: #013369;
	text-align: center;
	font-size: 50;

	}
.textbox{
	background-color: #D3D3D3;
color: #000000;
text-align: left;
}


.boxgray{
	background-color: #D3D3D3;
	color: #000000;
	text-align:
}

.bigchart {
	margin-top:30px;
	margin-bottom: 30px;
	background-color: #89CFF0
}





